nav {
    background-color: #ffffff;
    
}
#copysite {
    font-family: 'Syne Mono', monospace;
}
#brand-text-1 {
    font-family: 'Syne Mono', monospace;
    color:#410f0f;
}
#brand-text-2 {
    font-family: 'Syne Mono', monospace;
    color:#822828;
}
.contact-box {
    color: #822828;
}

#adrian-name {
    font-family: 'Syne Mono', monospace;
    color: #822828;
}
#adrian-course {
    color: #410f0f;
}


#projects {
    color: #ffffff;
}


#copyright {
    background-color: #410f0f;
    color: #ffffff;
}
#sectionBackground {
    background-image: linear-gradient(#ffffff,#410f0f);
}